*.blg
*.dw
*.ilg
*.o
*.ser
*.tmp
*.old
*~
#*
core
*.aux
*.bbl
*.idx
*.ind
*.toc
*.lof
*.lot
sample-thesis-0.pdf 
sample-thesis-1.pdf 
sample-thesis-2.pdf 
final-thesis.pdf
keith_proposal/*.log
sample-thesis-0/*.log
sample-thesis-2/*.log
uuthesis-2016-guide/*.log
working-copy/*.log
!working-copy/data/*.log
